.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15%;
    margin: 0px;
    padding: 0px 0px;
    text-align: center;
    height: 100vh;
    position: fixed;
    background-color: #f5f5f5;
}

.navigation-list ul {
    list-style: none;
    padding: 0px;

}

.navigation-list ul a {
    text-decoration: none;
    color: black;
}

.navigation-list ul li {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 15px 0px;
}

.nav-setting {
    margin: 15px 0px;
}

.nav-setting button{
    background-color: #f5f5f5;
    border: none;
    outline: none;
    cursor: pointer;
}

.nav-setting-icon a {
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.setting-options{
    margin: 5px 0px;
    position: relative;
    right:2vw;
    text-align: center;
}

.setting-options ul {
    margin:0px;
}

.setting-options ul li {
    font: bold 1rem Arial, Helvetica, sans-serif;
    list-style: none;
    padding: 5px 0px;
    text-align: left;
}
.setting-options ul li a {
    text-decoration: none;
    color: black;
}